.follow {
			width: 300px;
			border-style: solid;
			border-width: 1px;
		}
		a:link {
			color: black;
			font-weight: bold;
		}
		a:visited {
			color: black;
			font-weight: bold;
		}
		A:hover {
			COLOR: grey;
			text-decoration:underline;
		}
		.box {
			text-align:left;
			font-size:13px;
			padding:7px 7px;
			width:800px;
			word-break:keep-all;
			background:rgba(255,255,255,0.5);
			border-radius: 20px;
			border: 5px solid black;
		}
		.box1 {
			text-align:left;
			font-size:13px;
			padding:7px 7px;
			width:800px;
			word-break:keep-all;
			background: url(bg.png);
			border-radius: 20px;
			border: 5px solid black;
			box-shadow: 10px 10px 10px #888888;
		}
		.boxf {
			text-align:left;
			font-size:10px;
			padding:5px 5px;
			width:785px;
			word-break:keep-all;
			background: url(foot.png);
			border-radius: 20px;
			border: 5px solid black;
			box-shadow: 10px 10px 10px #888888;
		}
		div.box1 img {float:center;}
		div.box img {float:left;}
		div.box iframe {float:left}
		p {
			font-family: "courier";
			word-break: keep-all;
			color: black;
			text-decoration: bold; 
			font-size:15.5px;
			text-shadow: 3px 3px 3px gray;
		}
		h2 {
			font-family: "courier";
			word-break: break-all;
			color: #FFFFFF;
		}
		h1 {
			font-family: "courier";
			word-break: break-all;
			color: black;
			text-shadow: 4px 4px 4px white;
		}
		html { 
		  background: url(repeat.png) no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		}
		div.nav a:link {
			color: #363636;
			text-decoration: underline;
		}
		div.nav a:visited {
			text-decoration: underline;
			color: #363636;
		}
		div.nav A:hover {
			COLOR: #3366FF;
			text-decoration:underline;
			background: #999999;
		}
		#nav ul {
			list-style: none;
			width: 800px;
			margin: 0 auto;
			padding: 0; }
		#nav li {
			float: left; }
		#nav li a {
			display: block;
			padding: 7px 7px;
			text-decoration: none;
			font-weight: bold;
			color: #069;
		}
		#nav li a:hover {
			color: #c00;
			background-color: rgba(255,255,255,0.9);; 
		}