		html { 
		  background: url(moba.png) no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		}
		p {
			font-family: "courier";
			word-break: keep-all;
			color: white;
			text-decoration: bold; 
			font-size:15.5px;
			text-shadow: 3px 3px 3px gray;
			padding-right: 2cm;
			padding-left: 2cm;
		}
		h1 {
			font-family: "courier";
			word-break: keep-all;
			color: white;
			text-decoration: bold; 
			text-shadow: 3px 3px 3px gray;
			padding-right: 2cm;
			padding-left: 2cm;
		}
		a:link {
			color: white;
			font-weight: bold;
		}
		a:visited {
			color: white;
			font-weight: bold;
		}
		A:hover {
			COLOR: grey;
			text-decoration:underline;
		}
		.box1 {
		  width: 20%;
		  margin: 0 auto;
		  background: rgba(255,255,255,0.2);
		  padding: 35px;
		  border: 2px solid #fff;
		  border-radius: 20px/50px;
		  background-clip: padding-box;
		  text-align: center;
		}

		.button {
		  font-size: 1em;
		  padding: 10px;
		  color: #fff;
		  border: 2px solid orange;
		  border-radius: 20px/50px;
		  text-decoration: none;
		  cursor: pointer;
		  transition: all 0.3s ease-out;
		}
		.button:hover {
		  background: orange;
		}

		.overlay {
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  background: rgba(0, 0, 0, 0.7);
		  transition: opacity 500ms;
		  visibility: hidden;
		  opacity: 0;
		}
		.overlay:target {
		  visibility: visible;
		  opacity: 1;
		}

		.popup {
		  margin: 70px auto;
		  padding: 20px;
		  background: #fff;
		  border-radius: 5px;
		  width: 70%;
		  position: relative;
		  transition: all .5s ease-in-out;
		  line-height: 100%;
		}

		.popup h2 {
		  margin-top: 0;
		  color: #333;
		  font-family: Tahoma, Arial, sans-serif;
		}
		.popup .close {
		  position: absolute;
		  top: 20px;
		  right: 30px;
		  transition: all 200ms;
		  font-size: 30px;
		  font-weight: bold;
		  text-decoration: none;
		  color: #333;
		}
		.popup .close:hover {
		  color: blue;
		}
		.popup .content {
		  max-height: 30%;
		  overflow: auto;
		}
.btn {
  background: url(raf.png)
}

.btn:hover {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #3b0028);
  background-image: -moz-linear-gradient(top, #000000, #3b0028);
  background-image: -ms-linear-gradient(top, #000000, #3b0028);
  background-image: -o-linear-gradient(top, #000000, #3b0028);
  background-image: linear-gradient(to bottom, #000000, #3b0028);
  text-decoration: none;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
